# Orb support is from version >= 2.1
version: 2.1

# Make sure you use the latest version of the Orb!
orbs:
  rn: react-native-community/react-native@7.1.0
  android: circleci/android@2.3.0
  node: circleci/node@5.1.0
  ruby: circleci/ruby@1.2.0

# Custom jobs which are not part of the Orb
jobs:
  checkout_code:
    executor: rn/linux_js
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths: .
  analyse_js:
    executor: rn/linux_js
    steps:
      - attach_workspace:
          at: .
      - rn/yarn_install
      - run:
          name: Run ESLint
          command: yarn eslint
      - run:
          name: Jest
          command: yarn jest
  build_android:
    executor: rn/linux_js
    steps:
      - ruby/install-deps
      - run:
          name: Execute fastlane
          command: bundle exec fastlane deploy

workflows:
  test:
    jobs:
      - checkout_code

      - analyse_js:
          requires:
            - checkout_code

      - build_android:
          requires:
            - analyse_js
